.icon {
  display: inline-block;
  fill: currentcolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 1em;
  line-height: 1em;
  speak: none;
  stroke: currentcolor;
  stroke-width: 0;
  text-align: center;
  text-transform: none;
  width: 1em;
}
